body{
    z-index:0;
}
.tree {
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    border: 4px solid #ECEFF1;
    margin: 0 0 24px 0;
    padding: 24px;
    position: relative;
}
.tree .node {
    display: block;
    font-family: Monaco, "Lucida Console", monospace;
    line-height: 28px;
    color: #333;
}
.tree .children {
    padding-left: 24px;
    position: relative;
    overflow: hidden;
}
.tree .children .node {
    position: relative;
}
.tree .children .node:before {
    position: absolute;
    left: -18px;
    bottom: 14px; /* moves all file child branch lines up/dn */
    width: 16px; /* Extends horiz branch line */
    height: 9999px; /* Moves folder horiz lines up/dn*/
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #888888;
    border-radius: 0 0 0 3px;
    content: "";
}

/*==========================*/

.tree i{
    padding-right: 10px;
}

/*specific icon*/

.tree .children .i-folder-open:before {
    content: '\f07c'; /* open folder */
}
.tree .children .i-folder-closed:before {
    content: '\f07b'; /* closed folder */
}
.tree .children .i-file-o:before {
    content: '\f016';
}
.tree .children .i-file-code:before {
    content: '\f1c9';
}
.tree .children .i-file-text:before {
  content: '\f15c';
}
.tree .children .i-files:before {
    content: '\f0c5';
}
.tree .children .i-cog:before {
    content: '\f013';
}
.tree .children .i-db:before {
    content: '\f1c0';
}

/*colors*/

.tree .children .i-gold:before {
    color: gold;
}
.tree .children .i-black:before {
    color: black;
}
.tree .children .i-dodgerblue:before {
    color: dodgerblue;
}
.tree .children .i-limegreen:before {
    color: limegreen;
}
.tree .children .i-lawngreen:before {
    color: lawngreen;
}
.tree .children .i-mediumseagreen:before {
    color: mediumseagreen;
}
.tree .children .i-lightsalmon:before {
    color: lightsalmon;
}
.tree .children .i-slategray:before {
    color: slategray;
}
.tree .children .i-indianred:before {
    color: indianred;
}
.tree .children .i-darkred:before {
    color: darkred;
}
.tree .children .i-crimson:before {
    color: crimson;
}
.tree .children .i-lightcoral:before{
    color:#f08080
}

/*==============*/

.tree .sm-txt{
    font-family: "Arial Narrow",Arial,sans-serif;
    font-size: 13px;
    color: chartreuse;
    /*font-weight: bold;*/
    padding: 1px 5px !important;
    background-color: #222;
    border: 1px solid #888;
}
